
// General Styling

html {
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

.contentWrapper {
    max-width: 2500px;
}


ul {
    list-style-type: none;
    padding: 0;
}

.active::before {
    content: "➞";
    color: red;
}

.active {
    background-color: orange;
    transition: 0.3 ease background-color;
}