
// General Styling

html {
    font-family: "Montserrat";

}

ul {
    list-style-type: none;
    padding: 0;
}
.bodyWrapper,
.contentWrapper {
    position: relative;
}


// .bodyWrapper {
    // display: flex;
// }

