@media (max-width: 1300px) {
    // About section
    .aboutContent {
        flex-direction: column;
    }

    .aboutWrapper {
        margin: 0 auto;
    }

    .aboutText {
        width: 85%;
    }


    .aboutImage {
        width: 70%;
        max-width: 540px;
    }

    .aboutDots {
        top: -20%;
    }

}

@media (max-width: 768px) {

    // Side nav styling
    // So side nav doesn't start open on smaller screens
    .openSideNav,
    .sideNav .closebtn {
        padding: 25px;
        width: 75px;
        height: 75px;
        top: auto;
        bottom: 0;

    }
    
    .sideNav {
        padding-top: 5%;
        width: 0;
    }

    .contentWrapper {
        margin-left: 0;
    }

    .smallIntro {
        padding: 3%;
    }


    // about section
    .graySquare {
        width: auto;
    }

    .intro, 
    .history {
        text-align: justify;
    }

    .aboutLinks {
        justify-content: space-evenly;
    }

    // Skills section 

    .currentSkills {
        font-size: 40px;
        margin: 1%;
    }


    // Portfolio Section

    section.portfolio {
        background-image: linear-gradient(1deg, #FFF 99%, $purple calc(99% + 2px));
    }


    .project {
        flex-direction: column-reverse;
    }

    .project:nth-of-type(even) {
        flex-direction: column;
    }

    .projectScreen {
        width: 75%;
    }

    .projectTitle {
        margin: 1% 0;
        text-align: center;
    }

    .right,
    .left {
        text-align: justify;
    }

    .projectLinks {
        display: flex;
        justify-content: space-evenly;
    }

    // portfolio/contact Section flairs
    .projectDots,
    .graySquareRight,
    .graySquareLeft{
        display: none;
    }
    
}

@media (max-width: 480px) {
    
    .splash {
        height: 80vh
    }

    .splashArrow,
    .splashTripSquig,
    .splashSquig,
    .aboutRight {
        display: none;
    }

    
    .first {
        font-size: 40px;
    }
    
    .last {
        font-size: 50px;
    }

    .subtitle {
        font-size: 20px;
    }

    // About section styling
    .intro {
        font-size: 16px;
    }

    // Skills section
    .skills {
        height: 75vh;
    }


    .skillsWrapper {
        width: 70%;
    }
    
    // Portfolio section
    section.portfolio {
        background-image: linear-gradient(2deg, #FFF 99%, $purple calc(99% + 2px));
    }

    // Contact section
    .contactSquig,
    .contactRightCir {
        display: none;
    }
    
}




