.portfolio {
	background-image: linear-gradient(4deg, #FFF 95%, $purple calc(95% + 2px));
	display: flex;
	align-items: center;
	overflow: hidden;
}

.portfolioWrapper {
	width: 90%;
	margin: 0 auto;
	padding-top: 12%;
	text-align: center;
}

.portfolioTitle {
	padding: 2% 0;
	margin: 0;
	font-size: 40px;
	color: $offBlack;
	position: relative;
	z-index: 3;
}

.project {
	margin: 15% 0;
	display: flex;
	align-items: center;
}

.project:first-of-type {
	margin-top: 3%;
}

.project:last-of-type {
	margin-bottom: 0;
}

.projectImage {
	width: 100%;
	height: 100%;
	position: relative;
}

.graySquareLeft,
.graySquareRight {
	width: 400px;
	height: 300px;
	background-color: $graySquare;
	position: absolute;
	z-index: 1;
}

.graySquareLeft {
	right: -15%;
	bottom: -15%;
}

.graySquareRight {
	bottom: 0;
	left: -20%;	
}

.projectDots {
	position: absolute;
	z-index: 0;
	width: 70%;
	right: -10%;
	top: 10%;
}


.projectText {
	width: 95%;
	margin: 0 3%;
	position: relative;
	z-index: 3;
}


.projectScreen {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 5;
}

.projectTitle {
	font-size: 30px;
	color: rgb(35, 34, 39);
}
    
.right {
	text-align: right;
    
}

.left {
    text-align: left;

}

.projectDesc {
	font-size: 18px;
	color: $darkGray;
}

.git {
	margin-left: 5%;
}