.projectTitle {
        font-size: 40px;
        color: rgb(35, 34, 39);        
    }
    
    .right {
    text-align: right;
    
}

.left {
    text-align: left;

}

.projectDesc {
        font-size: 18px;
        color: rgb(178, 177, 184);
}

.projectLink {
        font-size: 25px;
        color: rgb(254, 97, 146);
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
}