section.skills {
    background-image: linear-gradient(-5deg, $purple 80%, #FFF calc(80% + 2px));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    position: relative;
}


.skillsWrapper {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: $gray;
    padding-top: 5%;
    img {
        position: absolute;
    }
}

h2 {
    margin-top: 4%;
    z-index: 5;
}

.currentSkills {
    font-size: 50px;
    // z-index: 2;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    i {
        text-align: center;
        margin: 1%;;
    }
}

.learning {
    margin: 0;
}

.skillDots {
    left: -10%;
    bottom: -20%;
    height: 50%;
    z-index: 0;
}

.skillTri {
    top: 10%;
    right: 0;
    z-index: 0;
    width: 15%;
}

.skillCircle {
    top: 10%;
    right: 5%;
    z-index: 1;
}