
// Splash page styling
.splash {
    height: 95vh;
    // Need the calc in order to smooth line in gradient
    background-image: linear-gradient(170deg, $purple 70%, $gray calc(70% + 2px));
}

.splashWrapper {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nameTitle {
    z-index: 10;
}

h1 {
    color: $gray;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.first {
    font-size: 60px;
    line-height: 0.75;
}

.last {
    font-size: 70px;
}
  
.subtitle {
    font-size: 30px;
    color: $pink;
    margin: 0;
}

.splash img {
    position: absolute;
    height: 3em;
    width: 3em;
    z-index: 0;
}

.splashArrow {
    right: 10%;
    bottom: 25%;
}

.splashSquig {
    left: 10%;
}

.splashTripSquig {
    right: 20%;
    top: 15%;
}


// SideNav styling
/* The side navigation menu */
.sideNav {
    height: 100%; // full viewport size
    width: 0; // 0 to start
    position: fixed; 
    z-index: 11; 
    top: 0; 
    left: 0;
    color: $purple;
    // using backgound gradient so border doesn't spill over
    background-image: linear-gradient(270deg, $purple 1%, $gray calc(1% + 3px));
    overflow: hidden;
    padding-top: 5%; /* Place content 60px from the top */
    transition: 0.4s;
  }

  .closebtn,
  .openSideNav {
      margin: 0;
      font-size: 20px;
      padding: 1%;
      color: $purple;
      background-color: $pink;
      cursor: pointer;
    }
    
    .openSideNav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        
  }

  .smallIntro {
    padding: 3%;
    span {
        color: $pink;
    }
} 
        
  /* The navigation menu links */
  .sideNavContent,
  .sideNav a {
    text-decoration: none;
    font-size: 25px;
    color: $purple;
    display: block;
    transition: 0.3s;
  }

  .sideNavLinks a {
    text-align: center;
    padding: 3%;
  }
  

/* Class for CSS "fill" effect  */
.btn-slide {
    position: relative;
    z-index: 12;
}

/* The "fill" that hapens on focus and hover is a pseudoclass that transforms to the right, going from the scaleX of 0 to 1*/
.btn-slide::before {
    content: "";
    border-radius: 0 20px 20px 0;
    background-color: $pink;
    position: absolute;
    top: 0;
    right: 5%;
    left: 0;
    bottom: 0;
    z-index: -5;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    transform-origin: left;
  }
  
  .btn-slide:hover::before, 
  .btn-slide:focus::before {
    transform: scaleX(1)
  }


  /* Position and style the close button (top right corner) */
  .sideNav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .contentWrapper {
    transition: margin-left .5s;
  }

  .navResume {
      margin: 0;
  }


// Dropdown Menu Styling
 /* Dropdown Button */
 .menuIcon {
    background-color: $gray;
    color: $offBlack;
    padding: 2%;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    border: 1px solid $offBlack;
  }
  
  /* Dropdown button on hover & focus */
  .menuIcon:hover, 
  .menuIcon:focus {
    background-color: $pink;
  }

   /* Dropdown Content (Hidden by Default) */
   .mobileLinks {
    display: none;
    margin: 0;
    position: fixed;
    top: 0;
    background-color: #f1f1f1;
    min-width: 100%;
    min-height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
  }

  .mobileIntro {
      width: 75%;
      margin: 0 auto;
      text-align: center;
      padding-top: 15%;
  }
  
  /* Links inside the dropdown */
  .mobileLinks a {
    color: $offBlack;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  
  /* Show the dropdown menu (use JS to add this class to the .mobileLinks container when the user clicks on the dropdown button) */
  .show {
    display:block;
} 
