@charset "UTF-8";
html {
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

.contentWrapper {
  max-width: 2500px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.active::before {
  content: "➞";
  color: red;
}

.active {
  background-color: orange;
  -webkit-transition: 0.3 ease background-color;
  transition: 0.3 ease background-color;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  position: absolute;
  left: -99999px;
  overflow: hidden;
  display: none;
}

.splash {
  height: 95vh;
  background-image: linear-gradient(170deg, #443a8b 70%, #e2dfdf calc(70% + 2px));
}

.splashWrapper {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nameTitle {
  z-index: 10;
}

h1 {
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.first {
  font-size: 60px;
  line-height: 0.75;
}

.last {
  font-size: 70px;
}

.subtitle {
  font-size: 30px;
  color: #fe6192;
  margin: 0;
}

.splash img {
  position: absolute;
  height: 65px;
  width: 100px;
  z-index: 0;
}

.splash .splashArrow {
  right: 10%;
  bottom: 25%;
  width: 70px;
}

.splashSquig {
  left: 10%;
}

.splashTripSquig {
  right: 20%;
  top: 15%;
}

.sideNav {
  height: 100%;
  width: 275px;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  color: #443a8b;
  background-image: linear-gradient(270deg, #443a8b 1%, #e2dfdf calc(1% + 3px));
  overflow: hidden;
  padding-top: 10%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.closebtn,
.openSideNav {
  margin: 0;
  font-size: 20px;
  color: #fe6192;
  background-color: #443a8b;
  border: 1px solid #fe6192;
  cursor: pointer;
}

.closebtn {
  padding: 10%;
}

.openSideNav {
  padding: 2%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.closebtn:hover,
.openSideNav:hover,
.closebtn:focus,
.openSideNav:focus {
  color: #443a8b;
  background-color: #fe6192;
}

.smallIntro {
  padding: 10% 5%;
  margin: 0;
}
.smallIntro span {
  color: #fe6192;
}

.sideNavLinks {
  margin: 1% 0;
}

/* The navigation menu links */
.sideNavContent,
.sideNav a {
  text-decoration: none;
  font-size: 25px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sideNavLinks a,
.socials i {
  text-align: center;
  padding: 3%;
  color: #443a8b;
}

.sideNavContent fab:focus,
.sideNavContent fab:hover,
.sideNavContent i:focus,
.sideNavContent i:hover {
  color: #fe6192;
}

/* Class for CSS "fill" effect  */
.btn-slide {
  position: relative;
  z-index: 12;
}

/* The "fill" that hapens on focus and hover is a pseudoclass 
that transforms to the right, going from the scaleX of 0 to 1*/
.btn-slide::before {
  content: "";
  border-radius: 0 30px 30px 0;
  background-color: #fe6192;
  position: absolute;
  top: 0;
  right: 5%;
  left: 0;
  bottom: 0;
  z-index: -5;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.btn-slide:hover::before,
.btn-slide:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.sideNav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
}

.contentWrapper {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  margin-left: 275px;
}

.navResume {
  margin: 0;
}

section.about {
  background-image: linear-gradient(185deg, #e2dfdf 70%, white calc(70% + 2px));
  height: 100%;
}

.aboutWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.aboutMain {
  z-index: 5;
}

.aboutLeft {
  height: 125px;
  width: 150px;
  position: absolute;
  left: 5%;
  top: -10%;
  z-index: 0;
}

.aboutRight {
  position: absolute;
  right: 5%;
  top: -15%;
}

.heading {
  color: #424242;
  position: relative;
  text-align: center;
}

.verticalLine {
  width: 0;
  font-size: 300%;
}

.subheading {
  font-size: 18px;
  font-family: "PlayfairDisplay";
  color: #424242;
  margin: 0;
}

.sectionTitle {
  margin: 0;
  font-size: 40px;
  color: #232227;
  font-weight: bold;
  text-transform: uppercase;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutImage {
  max-width: 100%;
  position: relative;
}

.headshot {
  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 0 0 50px 0;
}

.graySquare {
  height: 100%;
  width: 100%;
  max-height: 600px;
  background-color: #ececec;
  position: absolute;
  right: -25%;
  top: 0;
  z-index: -1;
}

.aboutDots {
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: -2;
  top: 30%;
  left: 0;
}

.aboutText {
  padding: 2% 5%;
  position: relative;
}

.intro {
  font-size: 20px;
  font-weight: 600;
  color: #74747b;
  line-height: 1.766;
}

.pinkLine {
  border-width: 1px;
  border-color: #ef5350;
  border-style: solid;
  background-color: #ef5350;
  width: 20%;
  height: 0;
  position: absolute;
  left: -1%;
}

.history,
.callToAction {
  font-size: 16px;
  color: #74747b;
  line-height: 1.75;
}

.history {
  margin-top: 5%;
}

.history a {
  font-weight: 700;
  text-decoration: none;
  color: #74747b;
}

.aboutLinks {
  color: #fe6192;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutLinks a,
.projectLink {
  font-size: 20px;
  color: #fe6192;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.aboutLinks a:hover,
.projectLink:hover,
.aboutLinks a:focus,
.projectLink:focus {
  color: #443a8b;
}

.resume {
  margin-right: 5%;
}

section.skills {
  background-image: linear-gradient(-5deg, #443a8b 80%, #FFF calc(80% + 2px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  position: relative;
}

.skillsWrapper {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  color: #e2dfdf;
  padding-top: 5%;
}
.skillsWrapper img {
  position: absolute;
}

h2 {
  margin-top: 4%;
  z-index: 5;
}

.currentSkills {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.currentSkills i {
  text-align: center;
  margin: 1%;
}

.learning {
  margin: 0;
}

.skillDots {
  left: -10%;
  bottom: -20%;
  height: 50%;
  z-index: 0;
}

.skillTri {
  top: 10%;
  right: 0;
  z-index: 0;
  width: 15%;
}

.skillCircle {
  top: 10%;
  right: 5%;
  z-index: 1;
}

section.portfolio {
  background-image: linear-gradient(4deg, #FFF 95%, #443a8b calc(95% + 2px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.portfolioWrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 12%;
  text-align: center;
}

.portfolioTitle {
  padding: 2% 0;
  margin: 0;
  font-size: 40px;
  color: #232227;
  position: relative;
  z-index: 3;
}

.project {
  margin: 15% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project:first-of-type {
  margin-top: 3%;
}

.project:last-of-type {
  margin-bottom: 0;
}

.projectImage {
  width: 100%;
  height: 100%;
  position: relative;
}

.graySquareLeft,
.graySquareRight {
  width: 400px;
  height: 300px;
  background-color: #ececec;
  position: absolute;
  z-index: 1;
}

.graySquareLeft {
  right: -15%;
  bottom: -15%;
}

.graySquareRight {
  bottom: 0;
  left: -20%;
}

.projectDots {
  position: absolute;
  z-index: 0;
  width: 70%;
  right: -10%;
  top: 10%;
}

.projectText {
  width: 95%;
  margin: 0 3%;
  position: relative;
  z-index: 3;
}

.projectScreen {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}

.projectTitle {
  font-size: 30px;
  color: #232227;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.projectDesc {
  font-size: 18px;
  color: #424242;
}

.git {
  margin-left: 5%;
}

section.contact {
  text-align: center;
  background-image: linear-gradient(-3deg, #e2dfdf 80%, #FFF calc(80% + 2px));
  overflow: hidden;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
section.contact span {
  color: #fe6192;
}
section.contact a {
  color: #232227;
  font-size: 30px;
}
section.contact a:focus,
section.contact a:hover {
  color: #fe6192;
}
section.contact img {
  position: absolute;
  z-index: 0;
}

.contactWrapper {
  padding: 10% 5% 5% 5%;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 5% 0;
}
.socials li {
  margin: 0 2%;
}
.socials i:focus,
.socials i:hover {
  color: #fe6192;
}

.return {
  color: #232227;
}

.contactLeftCir {
  left: 0%;
  bottom: -20%;
}

.contactSquig {
  left: 0;
  top: 20%;
}

.contactRightCir {
  right: 0%;
  top: 20%;
}

.contactTri {
  right: 0%;
  bottom: 0;
  width: 10%;
}

@media (max-width: 768px) {
  .openSideNav,
.sideNav .closebtn {
    padding: 25px;
    width: 75px;
    height: 75px;
    top: auto;
    bottom: 0;
  }

  .sideNav {
    padding-top: 5%;
    width: 0;
  }

  .contentWrapper {
    margin-left: 0;
  }

  .smallIntro {
    padding: 3%;
  }

  .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .aboutWrapper {
    width: 90%;
    margin: 0 auto;
  }

  .aboutImage {
    width: 70%;
  }

  .intro,
.history {
    text-align: justify;
  }

  .aboutLinks {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .currentSkills {
    font-size: 40px;
    margin: 1%;
  }

  .portfolio {
    background-image: linear-gradient(1deg, #FFF 99%, #443a8b calc(99% + 2px));
  }

  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .project:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .projectScreen {
    width: 75%;
  }

  .projectTitle {
    margin: 1% 0;
    text-align: center;
  }

  .right,
.left {
    text-align: justify;
  }

  .projectLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .projectDots,
.graySquareRight,
.graySquareLeft {
    display: none;
  }
}
@media (max-width: 480px) {
  .splash {
    height: 80vh;
  }

  .splashArrow,
.splashTripSquig,
.splashSquig,
.aboutRight {
    display: none;
  }

  .first {
    font-size: 40px;
  }

  .last {
    font-size: 50px;
  }

  .subtitle {
    font-size: 20px;
  }

  .intro {
    font-size: 16px;
  }

  .skills {
    height: 75vh;
  }

  .skillsWrapper {
    width: 70%;
  }

  .portfolio {
    background-image: linear-gradient(2deg, #FFF 99%, #443a8b calc(99% + 2px));
  }

  .contactSquig,
.contactRightCir {
    display: none;
  }
}